on: 
  push:
    branches-ignore:
      - 'dependabot/**'
    paths-ignore:
      - 'README.md'
      - 'demo/snake.zip'
      - 'demo/snake.png'
  workflow_dispatch:
permissions:
  contents: write
  pages: write
  id-token: write
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: |
        sudo apt install qrencode nasm python3 -y
        nasm snake.asm -o snake.com
        xxd -p snake.com | python3 docs/update.py
        qrencode -r snake.com -8 -o docs/snake.png
        zip demo/snake.zip snake.com
        git config --global user.email "just4now666666@gmail.com"
        git config --global user.name "donno2048"
        git add .
        git commit -m "update docs and demo"
        git push
    - uses: actions/configure-pages@v3
    - uses: actions/upload-pages-artifact@v2
      with:
        path: 'demo/'
    - uses: actions/deploy-pages@v2
